.box {
	width: 10em;
	height: 5em;
	transition: 1s ease, 1s ease;
}

#boxes {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
}

#boxes>div {
	display: flex;
	justify-content: center;
	align-items: center;
}
